h1{
	color: #FF0000;
	border-width: 5x; 
	border-color: purple;
	border-style: solid;

	border: 2px solid rgb(155,100,10);
}

li{
	color: rgb(0,255,0);
}

h4{
	color: rgba(11,99,150,1);
	background-color: rgb(155,100,10);
	/*red green blue alpha: determines opactiy*/
}

body{
	background-color: pink;
	/*background: url(https://i.stack.imgur.com/r3aaq.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}